<div class="row">
    <div class="col-xs-12 col-sm-2 col-lg-2">
        <p id="name">Alan Yanse</p>
        <p>desarrollador web full stack jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-8">
        <span>
            <h2>Acerca de mi</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati debitis amet praesentium cum ut,
                saepe voluptate corrupti nam aliquid officia, 
                expedita autem, ad inventore? 
                Quos eos neque possimus ipsa beatae.
            </p>
        </span>
    </div>
</div>
