<div class="circles">
    <h2>Habilidades</h2>
    <div class="circulitos">

        <div class="">
            <circle-progress
        [imageSrc]="'../../../assets/java1.png'"
        [showImage]="true"
        [imageHeight]="105"
        [imageWidth]="105"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>

    </div>

    <div class="">
        
        <circle-progress
        [imageSrc]="'../../../assets/java1.png'"
        [showImage]="true"
        [imageHeight]="105"
        [imageWidth]="105"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>

    </div>

    <div class="">
        
        <circle-progress
        [imageSrc]="'../../../assets/java1.png'"
        [showImage]="true"
        [imageHeight]="105"
        [imageWidth]="105"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>

    </div>

    <div class="">
        
        <circle-progress
        [imageSrc]="'../../../assets/java1.png'"
        [showImage]="true"
        [imageHeight]="105"
        [imageWidth]="105"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>

    </div>

    <div class="">
        
        <circle-progress
        [imageSrc]="'../../../assets/java1.png'"
        [showImage]="true"
        [imageHeight]="105"
        [imageWidth]="105"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>

    </div>

    <div class="">
        
        <circle-progress
        [imageSrc]="'../../../assets/java1.png'"
        [showImage]="true"
        [imageHeight]="105"
        [imageWidth]="105"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>

        </div>
        
        

    </div>
   
</div>
