<div class="row">
    <h2>Proyectos</h2>
    <div class="contenedor">
        <div class="parte1">
            <h3>Cookie Clicker Crom</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, in aut? Officia facere nesciunt quasi error? 
                Ea, nemo quis facere voluptatum quaerat optio voluptates excepturi, 
                maxime sint tempore ullam autem.</p>
            
        </div>
        <div class="parte2">
            <a href=""><img class="img-fluid imagenes" src="../../../assets/miniatura cookie clicker game.jpg" alt=""></a>
        </div>
    </div>

</div>


